.container{
  @apply absolute top-1/2 left-5 text-sm border border-gray-400;
  transform: translateY(-50%);
  box-shadow: 1px 0 10px rgba(0,0,0,0.2);
}

.selectOptionContainer{
  @apply mb-6 last:mb-0 first:pt-5 last:pb-5 px-4;
}

.tooBoxLabel{
  @apply block mb-1;
}

.colorsContainer{
  @apply flex flex-wrap items-center;
}

.colorBox{
  @apply inline-block w-5 h-5 rounded mr-1 last:mr-0;
}

.noFillColorBox{
  background: linear-gradient(
      to top left,
      rgba(255,0,0,0) 0%,
      rgba(255,0,0,0) calc(50%-0.8px),
      rgba(255,0,0,1) 50%
      rgba(255,0,0,0) calc(50%+0.8px),
      rgba(255,0,0,0) 100%
  ),
  linear-gradient(
      to top right,
      rgba(255,0,0,0) 0%,
      rgba(255,0,0,0) calc(50%-0.8px),
      rgba(255,0,0,1) 50%
      rgba(255,0,0,0) calc(50%+0.8px),
      rgba(255,0,0,0) 100%
  );
}

.activeColorBox{
  @apply border border-gray-300;
  box-shadow: 0 0 0 1px #383680;
}


.colorPicker{
  @apply mr-5 w-8 h-8 rounded border-2 border-neutral-400;
}

input[type='range']::-webkit-slider-thumb {
  @apply w-4 h-4 bg-blue-500 rounded-full shadow-md;
}
input[type='range']::-moz-range-thumb {
  @apply w-4 h-4 bg-blue-500 rounded-full shadow-md;
}
input[type='range']::-ms-thumb {
  @apply w-4 h-4 bg-blue-500 rounded-full shadow-md;
}